name: Hytale Auth Container

on:
    push:
        branches:
            - main
        paths:
            - games/hytale-auth/**
    workflow_dispatch:
    workflow_call:

jobs:
    build:
        name: "AleForge-hytale-auth"
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            - uses: actions/checkout@v4

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                  context: ./games/hytale-auth
                  file: ./games/hytale-auth/Dockerfile
                  platforms: linux/amd64
                  push: true
                  tags: |
                      ghcr.io/aleforge/games:hytale-auth
                  secrets: |
                      access_token=${{ secrets.HYTALE_ACCESS_TOKEN }}
