name: Java GraalVM

on:
  push:
    branches:
      - main
    paths:
      - Java/GraalVM/**
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1"

jobs:
  push:
    name: "AleForge-GraalVM-${{ matrix.version }}"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        version:
          - jdk8-ee
          - jdk11
          - jdk11-ee
          - jdk17
          - jdk17-ee
          - jdk20
          - jdk21
          - jdk21-ee
          - jdk22
          - jdk23
          - jdk24
          - jdk24-ee
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./Java
          file: ./Java/GraalVM/${{ matrix.version }}/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/aleforge/containers:graalvm-${{ matrix.version }}
